body{
    background-color:#EAF6F6;
}

h1{
  color: midnightblue;
}

h3{
    color: midnightblue;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #808080;
    border-width: 5px;
    width: 5%;
}